<section>
  <div class="container mt-10">
    <div class="row">
      {{#each products}}
      <div class="col-md-3 p-3">
        <div class="cards" style="width: 15rem; height:35rem">
          <a href="{{this.refer}}"><img src="/images/{{this._id}}.jpg" alt="" class="card-img-top"
          style="height: 15rem; width:13rem" >
          </a>
          <div class="card-body">
            <h5 class="card-title">{{this.Name}}</h5>
            <p class="card-text">{{this.Description}}</p>
            <p class="card-text font-weight-bold">Price:{{this.Price}}</p>
            {{!-- <a href="/add-to-cart/{{this._id}}" class="btn btn-primary">Add to cart</a> --}}
            <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
          </div>
        </div>
      </div> 
      {{/each}}
    </div>
  </div>
</section>
